body {
    text-align: center;
}

#calibration-rect {
    border: 1px solid black;
    z-index: -1;
}

#touch-circle {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #555;
}