body {
    padding: 0;
}

.grid {
    position: fixed;
    left: 0;
    top: 0;
    border: 1px solid #000;
    border-width: 1px 0 0 1px;
}

.grid div {
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    float: left;
}